

.hudMarginRight{
  margin: 0 20px 0 0;
}

.coreHudHolder{
  height: 60px;
  width: 650px;
}

.coreHudRow{
  height: 40px;
  width: 650px;
}

.coreHudHeaderRow{
  height: 20px;
  width: 650px;
}

.CoreHudHeaders{
  font-size: .8em;
  margin: 5px 0 0 0;
}

.coreHudHP{
  height: 100%;
  width: 100px;
  margin: 0 20px 0 0;
}

.coreHudBox{
  height: 100%;
  width: 50px;
}

.coreHudBoxWide{
  height: 100%;
  width: 70px;
  margin: 0 10px 0 0;
}


.coreHudIncHolder{
    height: 100%;
    width: 40px;
    margin: 0 0 0 10px;
}

.hudUpArrow{
  width: 0; 
  height: 0; 
  margin: 0 0 10px 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid $blk;
  &:hover{
    border-bottom: 15px solid grey;
    cursor: pointer;
  }
}
.hudDowArrow{
  width: 0; 
  height: 0; 
  margin: 0 0 0 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid $blk;
  &:hover{
    border-top: 15px solid grey;
    cursor: pointer;
  }
}

.hudGreyUpArrow{
  border-bottom: 15px solid darkgrey;
}

.hudGreyDownArrow{
  border-top: 15px solid darkgrey;
}

.hudCoreContent{
  font-family: $h;
  font-weight: 700;
  margin: 11px 0 0 0;
}

.coreHudWound{
  width: 300px;
  height: 100%;
  text-align: left;
  font-family: $h;
  color: $blk;
  letter-spacing: .1em;
  font-size: 1em;
  border: 0;
  padding: 0 0 0 20px;
  &:hover{
    color: lightgrey;
  }
  &:focus{
    outline: none;
    box-shadow: 5px 5px 5px lightgrey;
  }
}

.coreHudWoundSpacer{
  width: 300px;
  height: 100%;
}

.coreHudSpeedModifier{
  width: 210px;
  height: 100%;
  text-align: left;
  font-family: $h;
  color: $blk;
  letter-spacing: .1em;
  font-size: 1em;
  border: 0;
  padding: 0 0 0 20px;
  &:hover{
    color: lightgrey;
  }
  &:focus{
    outline: none;
    box-shadow: 5px 5px 5px lightgrey;
  }
}

.coreHudSpeedModSpacer{
  width: 210px;
  height: 100%;
}



