.homeSplash{
  background-image: url("../images/LandingBkgrd.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  background-size: cover;
}


.homeBox{
  height: 350px;
  width: 250px;
  margin: 150px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.mainLogo{
  height: 150px;
  width:150px;
  margin: auto;
}

.login{
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.newUser{
  text-align: center;
  color: lightgrey;
  cursor: pointer;
  &:focus{
    outline: none;
  }
  &:hover{
    color: $blk;
  }
}

.loginInput{
  border: none;
  background-color: $blk;
  height: 30px;
  width: 200px;
  text-align: center;
  margin: 5px 0 5px;
  color: #f1efeb;
  &:focus{
    outline: none;
    box-shadow: 5px 5px 5px lightgrey;
  }
}

.loginSubmit{
  background-color: $blk;
  width: 75px;
  height: 30px;
  text-align: center;
  padding: 7px;
  margin: 10px auto;
  cursor: pointer;
  &:focus{
    outline: none;
  }
  &:hover{
    opacity: 0.8;
  }
  border: none;
  text-decoration: none;
  font-size: 1em;
  padding: 0;
}

.loginSubmitTxt{

}

.backgroundCover{
  background-color: $blk;
  opacity: .8;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  right:0;
  z-index: 2;
}

.modal{
  height: 300px;
  width: 400px;
  z-index: 4;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 30px 30px 30px 30px;
  display: flex;
  flex-direction: column;
  
}

.newUserInputRow{
  display: flex;
  flex-direction: row;
  margin: 10px 0 10px 0;
}

.newUserInputLabel{
  width: 175px;
  text-align: right;
  margin: 7px 5px 0 0;
}

.modalWelcome{
  margin: 0 0 10px 0;
  text-align: center;
}
.newUserInput{
  width: 170px;
  height: 30px;
  font-size: 1em;
  background-color: $blk;
  color: $wht;
  border: none;
  padding: 0 0 0 10px;
  &:focus{
    outline: none;
    box-shadow: 5px 5px 5px lightgrey;
  }
}

.newUserSubmit{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
  cursor: pointer;
  &:focus{
    outline: none;
  }
}

.littleLogo{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  &:hover{
      background-color: #A51E36;
      transition: background-color 1s;
  }
}


.submitLabel{
  &:hover{
      color: #A51E36;
      transition: color 1s;
  }
  font-family: 'Roboto', sans-serif;
  color: $blk;
  font-weight: 700;
  letter-spacing: .1em;
  font-size: 1em;
}
 
.signUpSubmitButton{
  border: none;
  background: none;
  padding: 0; 
  font-family: 'Roboto', sans-serif;
  color: $blk;
  font-weight: 700;
  letter-spacing: .1em;
  font-size: 1em;
}

.newUserCancel{
  display: flex;
  align-items: center;
}

