

.detialHolder{
  display: flex;
  flex-direction: row;
  margin: 20px 0 0 0;
  justify-content: space-around;
}
.smallDetails{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.detailInput{
  color: $blk;
  height: 30px;
  width: 200px;
  border: none;
  font-size: 1em;
  padding-left: 10px;
  &:focus{
    outline: 2px solid $blk;
  }
}

.tripleDetail{
  height:90px;
}

.detailText{
  margin: 5px 5px 0 0;
  width: 150px;
  text-align: right;
}

.detailRow{
  display: flex;
  flex-direction: row;
}

.customizationDivider{
  height: 300px;
  border-right: 2px solid $blk;
}

.descriptionHolder{
  text-align: center;
}

.description{
  width: 600px;
  height: 300px;
  background-color: lightgray;
  border: none;
  margin: 10px 0 0 0;
  text-align: left;
  font-size: 1em;
  padding-left: 10px;
  &:focus{
    outline: 2px solid $blk;
  }
}

.biographyHolder{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bioHeader{
  text-align: center;
  margin: 20px 0 0 0;
}

.biography{
  width: 70%;
  height: 300px;
  font-size: 1em;
  background-color: lightgray;
  border: none;
  margin: 10px auto; 
  &:focus{
    outline: 2px solid $blk;
  }
}

