.raceSelectorContainer{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px 0 0 0;
}

.raceSelector{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  cursor: pointer;
}

.raceImage{
  height:300px;
  width: 150px;
  margin: 0 auto;
  position:relative;
}

.raceLabel{
  text-align: center;
  margin: 10px 0 0 0;

}

.characterEnabler{
  background-color: $wht;
  opacity: .9;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
}

.genderPicker{
  padding: 10px 0 0 0;
  height: 45px;
  margin: 20px 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#292331+2,ffffff+40,ffffff+60,292331+100 */
background: #292331; /* Old browsers */
background: -moz-linear-gradient(left,  #292331 2%, #ffffff 40%, #ffffff 60%, #292331 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #292331 2%,#ffffff 40%,#ffffff 60%,#292331 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #292331 2%,#ffffff 40%,#ffffff 60%,#292331 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#292331', endColorstr='#292331',GradientType=1 ); /* IE6-9 */
}
.raceStats{
  width: 70%;
  margin: 20px auto;
}

.rParagraph{
  text-align: left;
  line-height: 2em;
}

.raceStatChanger{
  margin: 20px 0 20px 0;
  height: 40px;
  width: 100%;
  background-color: lightgray;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}
.raceStatChangerOptions{
  display: flex;
  flex-flow: row;
  align-items: center;
  border: solid transparent 5px;
}

.heroImage{
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
}

.whtOverlay{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100;White+to+Transparent */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

}


.orcBkg{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
   z-index: 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+25,d82222+50,ffffff+75 */
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(left,  #ffffff 25%, #d82222 50%, #ffffff 75%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #ffffff 25%,#d82222 50%,#ffffff 75%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #ffffff 25%,#d82222 50%,#ffffff 75%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */

}

.elfBkg{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
   z-index: 0;
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+25,31c926+50,ffffff+75 */
   background: rgb(255,255,255); /* Old browsers */
   background: -moz-linear-gradient(left,  rgba(255,255,255,1) 25%, rgba(49,201,38,1) 50%, rgba(255,255,255,1) 75%); /* FF3.6-15 */
   background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 25%,rgba(49,201,38,1) 50%,rgba(255,255,255,1) 75%); /* Chrome10-25,Safari5.1-6 */
   background: linear-gradient(to right,  rgba(255,255,255,1) 25%,rgba(49,201,38,1) 50%,rgba(255,255,255,1) 75%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */

}

.humanBkg{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
   z-index: 0;
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+25,6cbefc+50,ffffff+75 */
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(255,255,255,1) 25%, rgba(108,190,252,1) 50%, rgba(255,255,255,1) 75%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 25%,rgba(108,190,252,1) 50%,rgba(255,255,255,1) 75%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(255,255,255,1) 25%,rgba(108,190,252,1) 50%,rgba(255,255,255,1) 75%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */

   
}

.halfElfBkg{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
   z-index: 0;
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+25,95d100+50,ffffff+75 */
   background: rgb(255,255,255); /* Old browsers */
   background: -moz-linear-gradient(left,  rgba(255,255,255,1) 25%, rgba(149,209,0,1) 50%, rgba(255,255,255,1) 75%); /* FF3.6-15 */
   background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 25%,rgba(149,209,0,1) 50%,rgba(255,255,255,1) 75%); /* Chrome10-25,Safari5.1-6 */
   background: linear-gradient(to right,  rgba(255,255,255,1) 25%,rgba(149,209,0,1) 50%,rgba(255,255,255,1) 75%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */

 }

 .dwarfBkg{
   height: 100%;
   width: 100%;
   position: absolute;
   top: 0;
   right: 0;
    z-index: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+25,fcde00+50,ffffff+75 */
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(255,255,255,1) 25%, rgba(252,222,0,1) 50%, rgba(255,255,255,1) 75%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 25%,rgba(252,222,0,1) 50%,rgba(255,255,255,1) 75%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(255,255,255,1) 25%,rgba(252,222,0,1) 50%,rgba(255,255,255,1) 75%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */

 }
 
 .gnomeBkg{
   height: 100%;
   width: 100%;
   position: absolute;
   top: 0;
   right: 0;
    z-index: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+25,5d00ff+50,ffffff+75 */
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(255,255,255,1) 25%, rgba(93,0,255,1) 50%, rgba(255,255,255,1) 75%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 25%,rgba(93,0,255,1) 50%,rgba(255,255,255,1) 75%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(255,255,255,1) 25%,rgba(93,0,255,1) 50%,rgba(255,255,255,1) 75%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */

 }
 
 .halflingBkg{
   height: 100%;
   width: 100%;
   position: absolute;
   top: 0;
   right: 0;
    z-index: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+25,ff8800+50,ffffff+75 */
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(255,255,255,1) 25%, rgba(255,136,0,1) 50%, rgba(255,255,255,1) 75%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 25%,rgba(255,136,0,1) 50%,rgba(255,255,255,1) 75%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(255,255,255,1) 25%,rgba(255,136,0,1) 50%,rgba(255,255,255,1) 75%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */

 }

