.remainingRanks{
  height: 30px;
  width: 80px;
  background: $blk;
  margin: 0 105px 0 20px;
}

.remainingRanksTxt{
  width: 270px;
  padding: 8px 0 0 0;
}

.remainingRanksContent{
  padding: 5px 0 0 0;
}

.topMargin{
  margin-top: 20px;
}