<section class="newSection" id="spells">

    <div class="spellsHolder">

<!-- ======================  available spells  ======================== -->

        <div class="availableSpells">

          <div class="spellHeaderHolder">
            <h4 class="spellHeader">CLASS / RACIAL ABILITIES</h4>
          </div>
          <!-- ========  LIST OF ABILITIES FOR LEVEL 1  ========== -->

          <div class="spellSelector">
            <div class="spellSelectorLabelContainer">
              <h5>ABILITY</h5>
              <h5>DESCRIPTION</h5>
            </div>
            <div class="spellChooser" >
              <!-- NG REPEAT ABILITIES spellChooser -->
              <div class="spellScrollIndicatorUp"></div>
            <!-- ========  SINGLE ROW   ========== -->
              <div class="spellChooserRow" ng-repeat='trait in chosenRaceTraits'>
                <div class="spellName">
                  <p class="abilityName">{{trait.name}}</p>
                </div>

                <div class="spellSelectionVertibar" ></div>
                <div class="spellDescriptionHolder">
                  <div class="spellDescShort" ng-hide="">
                    <p>{{trait.desc}}</p>
                  </div>
                  <div class="spellDescDetailsRequest">
                    <!-- <p class="spellDescriptionOpener"  ng-click="" ng-hide="">Details</p> -->
                  </div>
                  <div class="spellDescLong" ng-show="">
                    <p>A ray of freezing air and ice projects from your pointing finger. You must succeed on a ranged touch attack with the ray to deal damage to a target. The ray deals 1d3 points of cold damage.</p>
                  </div>
                </div>
              </div>

              <div class="spellScrollIndicatorDown"></div>

            </div>
          </div>


        </div>
<!-- ======================      divider      ======================== -->
        <div class="spellsVerticalDivider"></div>
<!-- ======================  assigned spells  ======================== -->
<div class="availableSpells">

  <div class="spellHeaderHolder">
    <h4 class="spellHeader">AVAILABLE FEATS</h4>
  </div>
  <!-- ========  LIST OF FEATS FOR LEVEL 1  ========== -->

  <div class="spellSelector">
    <div class="spellSelectorLabelContainer">
      <h5>FEAT</h5>
      <h5>SELECTED</h5>
      <h5>DESCRIPTION</h5>
    </div>
    <div class="spellChooser" >
      <!-- NG REPEAT FEATS IN  spellChooser -->
      <div class="spellScrollIndicatorUp"></div>
    <!-- ========  SINGLE ROW   ========== -->
      <div class="spellChooserRow" ng-repeat='feat in featsDisplayArrs'>
        <div class="spellName">
          <p>{{feat.name}}</p>
        </div>
        <!-- Potential code for changing the button color when clicked on spellSelection
              class="spellSelectionIndicator" ng-show"selectedFeatIndicator"
              ng-click="selectedFeat(feat); selectedFeatIndicator = !selectedFeatIndicator
            -->
        <div class="spellSelection" ng-click="selectedFeat(feat); featToggler = !featToggler">
          <div class="spellSelectionIndicator" ng-show="featToggler"></div>
        </div>
        <div class="spellSelectionVertibar"></div>
        <div class="spellDescriptionHolder">
          <div class="spellDescShort" ng-hide="">
            <p>{{feat.description}}</p>
          </div>
          <div class="spellDescDetailsRequest">
            <p class="spellDescriptionOpener"  ng-click="abilityInfo = !abilityInfo" ng-hide="">Details</p>
          </div>
          <div class="spellDescLong greyBkg" ng-show="abilityInfo">
            <h5 ng-show="feat.prerequisites[0]" class="newSelectedFeatName">prerequisite 1:</h5>
            <p ng-show="feat.prerequisites[0]">{{feat.prerequisites[0].type}}</p>
            <p ng-show="feat.prerequisites[0]">{{feat.prerequisites[0].value[0]}}</p>
            <p ng-show="feat.prerequisites[0].value[1]">{{feat.prerequisites[0].value[1]}}</p>
            <h5 ng-show="feat.prerequisites[1]" class="newSelectedFeatName">prerequisite 2:</h5>
            <p ng-show="feat.prerequisites[1]">{{feat.prerequisites[1].type}}</p>
            <p ng-show="feat.prerequisites[1]">{{feat.prerequisites[1].value[0]}}</p>
            <p ng-show="feat.prerequisites[1].value[1]">{{feat.prerequisites[1].value[1]}}</p>
            <h5 ng-show="feat.prerequisites[2]" class="newSelectedFeatName">prerequisite 3:</h5>
            <p ng-show="feat.prerequisites[2]">{{feat.prerequisites[2].type}}</p>
            <p ng-show="feat.prerequisites[2]">{{feat.prerequisites[2].value[0]}}</p>
            <p ng-show="feat.prerequisites[2].value[1]">{{feat.prerequisites[2].value[1]}}</p>
            <h5 ng-show="feat.prerequisites[3]" class="newSelectedFeatName">prerequisite 4:</h5>
            <p ng-show="feat.prerequisites[3]">{{feat.prerequisites[3].type}}</p>
            <p ng-show="feat.prerequisites[3]">{{feat.prerequisites[3].value[0]}}</p>
            <p ng-show="feat.prerequisites[3].value[1]">{{feat.prerequisites[3].value[1]}}</p>
            <h5 ng-show="feat.prerequisites[4]" class="newSelectedFeatName">prerequisite 5:</h5>
            <p ng-show="feat.prerequisites[4]">{{feat.prerequisites[4].type}}</p>
            <p ng-show="feat.prerequisites[4]">{{feat.prerequisites[4].value[0]}}</p>
            <p ng-show="feat.prerequisites[4].value[1]">{{feat.prerequisites[4].value[1]}}</p>
            <h5 ng-show="feat.prerequisites[5]" class="newSelectedFeatName">prerequisite 6:</h5>
            <p ng-show="feat.prerequisites[5]">{{feat.prerequisites[5].type}}</p>
            <p ng-show="feat.prerequisites[5]">{{feat.prerequisites[5].value[0]}}</p>
            <p ng-show="feat.prerequisites[5].value[1]">{{feat.prerequisites[5].value[1]}}</p>
            <h5 ng-show="feat.prerequisites[6]" class="newSelectedFeatName">prerequisite 7:</h5>
            <p ng-show="feat.prerequisites[6]">{{feat.prerequisites[6].type}}</p>
            <p ng-show="feat.prerequisites[6]">{{feat.prerequisites[6].value[0]}}</p>
            <p ng-show="feat.prerequisites[6].value[1]">{{feat.prerequisites[6].value[1]}}</p>

            <h5 class="newSelectedFeatName">Description:</h5>
            <p>{{feat.benefits}}</p>
          </div>
        </div>
      </div>

      <div class="spellScrollIndicatorDown"></div>

    </div>
  </div>
</div>
<!-- ========  END FEATS LIST  ========== -->
</div>



<!-- ==================  FEATS CONTROLLS  ===================== -->
<div class="featsControllsHolder flexRow">
  
  <div class="featsControllsTextAndButton flexRow flexEnd" >
    <h5 class="featsControllsText">REMAINING FEATS</h5>
    <h3 class="remainingFeats">{{remainingFeats}}</h3>
  </div>
  
  <div class="featsControllsTextAndButton flexRow" ng-click="abilitiesBahtn = !abilitiesBahtn; hideIneligableFeats()">
    <div class="buttonBase">
      <div class="buttonSelected" ng-show="abilitiesBahtn"></div>
    </div>
      <h5 class="featsControllsText">HIDE INELEGABLE FEATS</h5>
  </div>
  
</div>

<!-- ==================  CHOSEN FEATS   ===================== -->
<div class="newSelectedFeats">
  <h4 class="newSelectedFeatsHeader">CHOSEN FEATS</h4>
  <div class="newSelectedFeatList" ng-repeat='feat in chosenFeats track by $index'>
    <!-- ng-repeat in newSelectedFeatList -->
    <h5 class="newSelectedFeatName">{{feat.name}}</h5>
    <!-- when selecting feats from above, display selected feat info down here -->
    <p class="newSelectedFeatDescription">{{feat.benefits}}</p>
  </div>
</div>



<!-- ==================  FEATS BUTTON  ===================== -->
<div class="buttonHolder">
  <div class="txtAndButton" ng-click="abilitiesBtn = true; newCharFeats()" >
    <h5 class="txtButton">CONFIRM</h5>
    <div class="buttonBase">
      <div class="buttonSelected" ng-show="abilitiesBtn"></div>
    </div>
  </div>
  <div class="txtAndButton" ng-click="abilitiesBtn = false; reverseNewCharFeats()">
    <div class="buttonBase">
      <div class="buttonSelected" ng-hide="abilitiesBtn"></div>
    </div>
      <h5 class="txtButton">CANCEL</h5>
  </div>
</div>








</section>
