<section class="newSection" id="spells">

    <div class="spellsHolder">

<!-- ======================  available spells  ======================== -->

        <div class="availableSpells">
          
          <div class="spellHeaderHolder">
            <h4 class="spellHeader">CLASS / RACIAL ABILITIES</h4>
          </div>
          <!-- ========  LIST OF ABILITIES FOR LEVEL 1  ========== -->

          <div class="spellSelector">
            <div class="spellSelectorLabelContainer">
              <h5>ABILITY</h5>
              <h5>DESCRIPTION</h5>
            </div>
            <div class="spellChooser" >
              <!-- NG REPEAT ABILITIES spellChooser -->
              <div class="spellScrollIndicatorUp"></div>
            <!-- ========  SINGLE ROW   ========== -->
              <div class="spellChooserRow">
                <div class="spellName">
                  <p class="abilityName">Power Attack</p>
                </div>
              
                <div class="spellSelectionVertibar" ></div>
                <div class="spellDescriptionHolder">
                  <div class="spellDescShort" ng-hide="">
                    <p>Allows a more powerful blow at the-</p>
                  </div>
                  <div class="spellDescDetailsRequest">
                    <p class="spellDescriptionOpener"  ng-click="" ng-hide="">Details</p>
                  </div>
                  <div class="spellDescLong" ng-show="">
                    <p>A ray of freezing air and ice projects from your pointing finger. You must succeed on a ranged touch attack with the ray to deal damage to a target. The ray deals 1d3 points of cold damage.</p>
                  </div>
                </div>
              </div>
  
              <div class="spellScrollIndicatorDown"></div>
              
            </div>
          </div>
          
            
        </div>
<!-- ======================      divider      ======================== -->
        <div class="spellsVerticalDivider"></div>
<!-- ======================  assigned spells  ======================== -->
<div class="availableSpells">
  
  <div class="spellHeaderHolder">
    <h4 class="spellHeader">AVAILABLE FEATS</h4>
  </div>
  <!-- ========  LIST OF FEATS FOR LEVEL 1  ========== -->

  <div class="spellSelector">
    <div class="spellSelectorLabelContainer">
      <h5>FEAT</h5>
      <h5>SELECTED</h5>
      <h5>DESCRIPTION</h5>
    </div>
    <div class="spellChooser" >
      <!-- NG REPEAT FEATS IN  spellChooser -->
      <div class="spellScrollIndicatorUp"></div>
    <!-- ========  SINGLE ROW   ========== -->
      <div class="spellChooserRow">
        <div class="spellName">
          <p>Power Attack</p>
        </div>
        <div class="spellSelection" ng-click="">
          <div class="spellSelectionIndicator" ng-show""></div>
        </div>
        <div class="spellSelectionVertibar" ></div>
        <div class="spellDescriptionHolder">
          <div class="spellDescShort" ng-hide="">
            <p>Allows a more powerful blow at the-</p>
          </div>
          <div class="spellDescDetailsRequest">
            <p class="spellDescriptionOpener"  ng-click="" ng-hide="">Details</p>
          </div>
          <div class="spellDescLong" ng-show="">
            <p>A ray of freezing air and ice projects from your pointing finger. You must succeed on a ranged touch attack with the ray to deal damage to a target. The ray deals 1d3 points of cold damage.</p>
          </div>
        </div>
      </div>

      <div class="spellScrollIndicatorDown"></div>
      
    </div>
  </div>
</div>
<!-- ========  END FEATS LIST  ========== -->
</div>


<div class="newSelectedFeats">
  <h4 class="newSelectedFeatsHeader">CHOSEN FEATS</h4>
  <div class="newSelectedFeatList">
    <!-- ng-repeat in newSelectedFeatList -->
    <h5 class="newSelectedFeatName">Power Attack</h5>
    <p class="newSelectedFeatDescription">You can choose to take a –1 penalty on all melee attack rolls and combat maneuver checks to gain a +2 bonus on all melee damage rolls. This bonus to damage is increased by half (+50%) if you are making an attack with a two-handed weapon, a one handed weapon using two hands, or a primary natural weapon that adds 1-1/2 times your Strength modifier on damage rolls. This bonus to damage is halved (–50%) if you are making an attack with an off-hand weapon or secondary natural weapon. When your base attack bonus reaches +4, and every 4 points thereafter, the penalty increases by –1 and the bonus to damage increases by +2. You must choose to use this feat before making an attack roll, and its effects last until your next turn. The bonus damage does not apply to touch attacks or effects that do not deal hit point damage.</p>
  </div>
</div>



<!-- ==================  SPELLS BUTTON  ===================== -->
<div class="buttonHolder">
  <div class="txtAndButton">
    <h5 class="txtButton">CONFIRM</h5>
    <div class="buttonBase" ng-click="abilitiesBtn = true">
      <div class="buttonSelected" ng-show="abilitiesBtn"></div>
    </div>
  </div>
  <div class="txtAndButton">
    <div class="buttonBase" ng-click="abilitiesBtn = false">
      <div class="buttonSelected" ng-hide="abilitiesBtn"></div>
    </div>
      <h5 class="txtButton">CANCEL</h5>
  </div>
</div>








</section>