<section class="newSection" id="class">

<div class="classHolder">

  <div class="singleClass">
    <div class="classEnabler" ng-hide="classToggler[0]" ng-click="classSwitcher(0); classPicker(0)"></div>
    <div class="classImg">
      <div class="barbarianBkg"ng-show="classToggler[0]"></div>
      <div class="whtOverlay"></div>
        <img class="classImgSvg" src="./images/barbarianIcon.svg" alt="barbarian">
    </div>
    <h6 class="classDescription">BARBARIAN</h6>
  </div>

  <div class="singleClass">
    <div class="classEnabler" ng-hide="classToggler[1]" ng-click="classSwitcher(1); classPicker(1)"></div>
    <div class="classImg">
      <div class="bardBkg" ng-show="classToggler[1]"></div>
      <div class="whtOverlay"></div>
        <img class="classImgSvg" src="./images/bardIcon.svg" alt="barbarian">
    </div>
    <h6 class="classDescription">BARD</h6>
  </div>

  <div class="singleClass">
    <div class="classEnabler" ng-hide="classToggler[2]" ng-click="classSwitcher(2); classPicker(2)"></div>
    <div class="classImg">
      <div class="clericBkg" ng-show="classToggler[2]"></div>
      <div class="whtOverlay"></div>
        <img class="classImgSvg" src="./images/clericIcon.svg" alt="barbarian">
    </div>
    <h6 class="classDescription">CLERIC</h6>
  </div>

  <div class="singleClass">
    <div class="classEnabler" ng-hide="classToggler[3]" ng-click="classSwitcher(3); classPicker(3)"></div>
    <div class="classImg">
      <div class="druidBkg" ng-show="classToggler[3]"></div>
      <div class="whtOverlay"></div>
        <img class="classImgSvg" src="./images/druidIcon.svg" alt="barbarian">
    </div>
    <h6 class="classDescription">DRUID</h6>
  </div>

  <div class="singleClass">
    <div class="classEnabler" ng-hide="classToggler[4]" ng-click="classSwitcher(4); classPicker(4)"></div>
    <div class="classImg">
      <div class="fighterBkg" ng-show="classToggler[4]"></div>
      <div class="whtOverlay"></div>
        <img class="classImgSvg" src="./images/fighterIcon.svg" alt="barbarian">
    </div>
    <h6 class="classDescription">FIGHTER</h6>
  </div>

  <div class="singleClass">
    <div class="classEnabler" ng-hide="classToggler[5]" ng-click="classSwitcher(5); classPicker(5)"></div>
    <div class="classImg">
      <div class="monkBkg" ng-show="classToggler[5]"></div>
      <div class="whtOverlay"></div>
        <img class="classImgSvg" src="./images/monkIcon.svg" alt="barbarian">
    </div>
    <h6 class="classDescription">MONK</h6>
  </div>

  <div class="singleClass">
    <div class="classEnabler" ng-hide="classToggler[6]" ng-click="classSwitcher(6); classPicker(6)"></div>
    <div class="classImg">
      <div class="paladinBkg" ng-show="classToggler[6]"></div>
      <div class="whtOverlay"></div>
        <img class="classImgSvg" src="./images/paladinIcon.svg" alt="barbarian">
    </div>
    <h6 class="classDescription">PALADIN</h6>
  </div>

  <div class="singleClass">
    <div class="classEnabler" ng-hide="classToggler[7]" ng-click="classSwitcher(7); classPicker(7)"></div>
    <div class="classImg">
      <div class="rangerBkg" ng-show="classToggler[7]"></div>
      <div class="whtOverlay"></div>
        <img class="classImgSvg" src="./images/rangerIcon.svg" alt="barbarian">
    </div>
    <h6 class="classDescription">RANGER</h6>
  </div>

  <div class="singleClass">
    <div class="classEnabler" ng-hide="classToggler[8]" ng-click="classSwitcher(8); classPicker(8)"></div>
    <div class="classImg">
      <div class="rogueBkg" ng-show="classToggler[8]"></div>
      <div class="whtOverlay"></div>
        <img class="classImgSvg" src="./images/rogueIcon.svg" alt="barbarian">
    </div>
    <h6 class="classDescription">ROGUE</h6>
  </div>

  <div class="singleClass">
    <div class="classEnabler" ng-hide="classToggler[9]" ng-click="classSwitcher(9); classPicker(9)"></div>
    <div class="classImg">
      <div class="sorcerorBkg" ng-show="classToggler[9]" ></div>
      <div class="whtOverlay"></div>
        <img class="classImgSvg" src="./images/sorcerorIcon.svg" alt="barbarian">
    </div>
    <h6 class="classDescription">SORCEROR</h6>
  </div>

  <div class="singleClass">
    <div class="classEnabler" ng-hide="classToggler[10]" ng-click="classSwitcher(10); classPicker(10)"></div>
    <div class="classImg">
      <div class="wizardBkg" ng-show="classToggler[10]"></div>
      <div class="whtOverlay"></div>
        <img class="classImgSvg" src="./images/wizardIcon.svg" alt="barbarian">
    </div>
    <h6 class="classDescription">WIZARD</h6>
  </div>

</div>
<!-- ==================  CLASS TITLE  ===================== -->
<div class="classTitle">
  <h3>{{chosenClass}}</h3>
</div>

  
  <div class="alignmentChanger flexRow" ng-hide="staticRace">
    <div class="alignmentChangerOptions flexRow">
      <div class="alignmentEnabler" ng-hide="classObject.alignmentRestriction.lawfulGood"></div>
      <h5 class="alignmentTxtBttn rightTxt">Lawful<br>Good</h5>
      <div class="alignmentButtonBase" ng-click="alignmentSwitcher(0)">
        <div class="alignmentButtonSelected" ng-show="alignmentToggler[0]"></div>
      </div>
    </div>
    <div class="alignmentChangerOptions flexRow">
      <div class="alignmentEnabler" ng-hide="classObject.alignmentRestriction.lawfulNeutral"></div>
      <h5 class="alignmentTxtBttn rightTxt">Lawful<br>Neutral</h5>
    <div class="alignmentButtonBase" ng-click="alignmentSwitcher(1)">
      <div class="alignmentButtonSelected" ng-show="alignmentToggler[1]"></div>
    </div>
    </div>
    <div class="alignmentChangerOptions flexRow">
      <div class="alignmentEnabler" ng-hide="classObject.alignmentRestriction.lawfulEvil"></div>
      <h5 class="alignmentTxtBttn rightTxt">Lawful<br>Evil</h5>
      <div class="alignmentButtonBase" ng-click="alignmentSwitcher(2)">
      <div class="alignmentButtonSelected" ng-show="alignmentToggler[2]"></div>
      </div>
    </div>
    <div class="alignmentChangerOptions flexRow">
      <div class="alignmentEnabler" ng-hide="classObject.alignmentRestriction.neutralGood"></div>
      <h5 class="alignmentTxtBttn rightTxt">Neutral<br>Good</h5>
      <div class="alignmentButtonBase" ng-click="alignmentSwitcher(3)">
      <div class="alignmentButtonSelected" ng-show="alignmentToggler[3]"></div>
      </div>
    </div>
    <div class="alignmentChangerOptions flexRow">
      <div class="alignmentEnabler" ng-hide="classObject.alignmentRestriction.neutralNeutral"></div>
      <h5 class="alignmentTxtBttn rightTxt">True<br>Neutral</h5>
      <div class="alignmentButtonBase" ng-click="alignmentSwitcher(4)">
      <div class="alignmentButtonSelected" ng-show="alignmentToggler[4]"></div>
      </div>
    </div>
    <div class="alignmentChangerOptions flexRow">
      <div class="alignmentEnabler" ng-hide="classObject.alignmentRestriction.neutralEvil"></div>
      <h5 class="alignmentTxtBttn rightTxt">Neutral<br>Evil</h5>
      <div class="alignmentButtonBase" ng-click="alignmentSwitcher(5)">
      <div class="alignmentButtonSelected" ng-show="alignmentToggler[5]"></div>
      </div>
    </div>
    <div class="alignmentChangerOptions flexRow">
      <div class="alignmentEnabler" ng-hide="classObject.alignmentRestriction.chaoticGood"></div>
      <h5 class="alignmentTxtBttn rightTxt">Chaotic<br>Good</h5>
      <div class="alignmentButtonBase" ng-click="alignmentSwitcher(6)">
      <div class="alignmentButtonSelected" ng-show="alignmentToggler[6]"></div>
      </div>
    </div>
    <div class="alignmentChangerOptions flexRow">
      <div class="alignmentEnabler" ng-hide="classObject.alignmentRestriction.chaoticNeutral"></div>
      <h5 class="alignmentTxtBttn rightTxt">Chaotic<br>Neutral</h5>
      <div class="alignmentButtonBase" ng-click="alignmentSwitcher(7)">
      <div class="alignmentButtonSelected" ng-show="alignmentToggler[7]"></div>
      </div>
    </div>
    <div class="alignmentChangerOptions flexRow">
      <div class="alignmentEnabler" ng-hide="classObject.alignmentRestriction.chaoticEvil"></div>
      <h5 class="alignmentTxtBttn rightTxt">Chaotic<br>Evil</h5>
      <div class="alignmentButtonBase" ng-click="alignmentSwitcher(8)">
      <div class="alignmentButtonSelected" ng-show="alignmentToggler[8]"></div>
      </div>
    </div>
  </div>
  
<div class="classContents">
  <h4 class="centerTxt boldTxt classContentsShortDesc">{{classObject.shortClassDescription}}</h4>
  <p class="classContentsFullDesc">{{classObject.classDescription}}</p>
  <p class="classContentsBottomSpacer"><span class="boldTxt">Role: </span>{{classObject.role}}</p>
  <h4 class="centerTxt boldTxt">Class Features</h4>
  <p class="classContentsBottomSpacer"><span class="boldTxt">Hit Dice:</span> D{{classObject.hitDie}}</p>
  <p class="classContentsBottomSpacer"><span class="boldTxt">BAB Progression:</span> {{classObject.babProgression}}</p>
  <p class="classContentsBottomSpacer"><span class="boldTxt">High Saves:</span> {{classObject.highSaves}}</p>
  <p class="classContentsBottomSpacer"><span class="boldTxt">Weapon Proficiencies:</span> {{classObject.weaponProficiencies}}</p>
  <p class="classContentsBottomSpacer"><span class="boldTxt">Armor Proficiencies:</span> {{classObject.armorProficiencies}}</p>
  <p class="classContentsBottomSpacer"><span class="boldTxt">Class Skills: </span>{{classObject.classSkillsDump}}</p>
  <p class="classContentsBottomSpacer"><span class="boldTxt">Skill Ranks per Level:</span> {{classObject.skillsPerLevel}} + Int modifier</p>
  <h4 class="centerTxt boldTxt">Class Abilities</h4>
  <div class="classContentsFeatures" ng-repeat="feature in classFeatures">
    <p><span class="boldTxt">{{feature.title}}</span>{{feature.text}}</p>
  </div>
</div>



<!-- ==================  CLASS BUTTON  ===================== -->
  <div class="buttonHolder">
    <div class="txtAndButton" ng-click="classBtn = true; setClass()">
      <h5 class="txtButton">CONFIRM</h5>
      <div class="buttonBase">
        <div class="buttonSelected" ng-show="classBtn"></div>
      </div>
    </div>
    <div class="txtAndButton" ng-click="classBtn = false; raceShower=!raceShower; classShower=!classShower">
      <div class="buttonBase">
        <div class="buttonSelected" ng-hide="classBtn"></div>
      </div>
        <h5 class="txtButton">CANCEL</h5>
    </div>

 </section>
