<section class="newSection" id="customization">

<div class="detialHolder">

  <div class="smallDetails">

  <div class="detailRow">
    <h4 class="detailText">NAME</h4>
    <input class="detailInput ltgreyBkg" type="text" ng-model="customization.name">
  </div>

  <div class="detailRow">
    <h4 class="detailText">HOMELAND</h4>
    <input class="detailInput greyBkg" type="text" ng-model="customization.homeland">
  </div>

  <div class="detailRow">
    <h4 class="detailText">DEITY</h4>
    <input class="detailInput ltgreyBkg" type="text" ng-model="customization.deity">
  </div>

  <div class="detailRow">
    <h4 class="detailText">AGE</h4>
    <input class="detailInput greyBkg" type="text" ng-model="customization.age">
  </div>

  <div class="detailRow">
    <h4 class="detailText">HEIGHT</h4>
    <input class="detailInput ltgreyBkg" type="text" ng-model="customization.height">
  </div>

  <div class="detailRow">
    <h4 class="detailText">WEIGHT</h4>
    <input class="detailInput greyBkg" type="text" ng-model="customization.weight">
  </div>

  <div class="detailRow">
    <h4 class="detailText">HAIR</h4>
    <input class="detailInput ltgreyBkg" type="text" ng-model="customization.hair">
  </div>

  <div class="detailRow">
    <h4 class="detailText">EYES</h4>
    <input class="detailInput greyBkg" type="text" ng-model="customization.eyes">
  </div>

  <div class="detailRow">
    <h4 class="detailText">MISC</h4>
    <textarea class="detailInput ltgreyBkg tripleDetail" type="text" ng-model="customization.misc"></textarea>
  </div>
  </div>

  <div class="customizationDivider"></div>

  <div class="descriptionHolder">
    <h4>CHARACTER DESCRIPTION</h4>
    <textarea class="description" type="text" ng-model="customization.characterDescription"></textarea>
  </div>

</div>

<div class="biographyHolder">
  <h4 class="bioHeader">BIOGRAPHY</h4>
  <textarea class="biography" ng-model="customization.biography"></textarea>
</div>

<div class="buttonHolder">
    <div class="txtAndButton" ng-click="rollBtn = true; customizationFields(); submitNewChar()">
        <h5 class="txtButton">CONFIRM</h5>
        <div class="buttonBase">
            <div class="buttonSelected" ng-show="rollBtn"></div>
        </div>
    </div>
    <div class="txtAndButton">
        <div class="buttonBase" ng-click="rollBtn = false; classHasSpellsChecker()">
            <div class="buttonSelected" ng-hide="rollBtn"></div>
        </div>
        <h5 class="txtButton">CANCEL</h5>
    </div>

</div>






</section>
