<section class="newSection" id="race">
<h5 class="newSubheader">CLICK TO CHOOSE A RACE</h5>

<div class="raceSelectorContainer">

  <div class="raceSelector">
    <div class="characterEnabler" ng-hide="raceToggler[0]" ng-click="raceSwitcher(0); racePicker(0)"></div>
    <div class="raceImage greyBkg"></div>
    <h5 class="raceLabel">DWARF</h5>
  </div>

  <div class="raceSelector">
    <div class="characterEnabler" ng-hide="raceToggler[1]" ng-click="raceSwitcher(1); racePicker(1)"></div>
    <div class="raceImage"><img src="./images/elfIcon.svg" alt="Elf"></div>
    <h5 class="raceLabel">ELF</h5>
  </div>

  <div class="raceSelector">
    <div class="characterEnabler" ng-hide="raceToggler[2]" ng-click="raceSwitcher(2); racePicker(2)"></div>
    <div class="raceImage"><img src="./images/gnomeIcon.svg" alt="Elf"></div>
    <h5 class="raceLabel">GNOME</h5>
  </div>

  <div class="raceSelector">
    <div class="characterEnabler" ng-hide="raceToggler[3]" ng-click="raceSwitcher(3); racePicker(3)"></div>
    <div class="raceImage"><img src="./images/halfElfIcon.svg" alt="Half-Elf"></div>
    <h5 class="raceLabel " >HALF-ELF</h5>
  </div>

  <div class="raceSelector">
    <div class="characterEnabler" ng-hide="raceToggler[4]" ng-click="raceSwitcher(4); racePicker(4)"></div>
    <div class="raceImage"><img src="./images/orcIcon.svg" alt="Half-Orc-Half-Dire-Halfling"></div>
    <h5 class="raceLabel">HALF-ORC</h5>
  </div>

  <div class="raceSelector">
    <div class="characterEnabler" ng-hide="raceToggler[5]" ng-click="raceSwitcher(5); racePicker(5)"></div>
    <div class="raceImage"><img src="./images/halflingIcon.svg" alt="halfling"></div>
    <h5 class="raceLabel">HALFLING</h5>
  </div>

  <div class="raceSelector">
    <div class="characterEnabler" ng-hide="raceToggler[6]" ng-click="raceSwitcher(6); racePicker(6)"></div>
    <div class="raceImage "><img src="./images/humanIcon.svg" alt="Elf"></div>
    <h5 class="raceLabel">HUMAN</h5>
  </div>
</div>

<div class="genderPicker">

        <h5 class="txtButton">MALE</h5>
        <div class="buttonBase" ng-click="male = true; female = false">
            <div class="buttonSelected" ng-show="male"></div>
        </div>
        <div class="buttonBase" ng-click="female = true; male = false">
            <div class="buttonSelected" ng-show="female"></div>
        </div>
        <h5 class="txtButton">FEMALE</h5>

</div>
<!-- ===============================  PLACEHOLDER  ================================== -->
<div class="raceStats">
  <p class="rParagraph">{{modText}}</p>
  <div class="raceStatChanger" ng-hide="staticRace">
    <div class="raceStatChangerOptions">
      <h5 class="txtButton">STR</h5>
    <div class="buttonBase" ng-click="abilitySwitcher(0)">
      <div class="buttonSelected" ng-show="abilityToggler[0]"></div>
    </div>
    </div>
    <div class="raceStatChangerOptions">
      <h5 class="txtButton">DEX</h5>
    <div class="buttonBase" ng-click="abilitySwitcher(1)">
      <div class="buttonSelected" ng-show="abilityToggler[1]"></div>
    </div>
    </div>
    <div class="raceStatChangerOptions">
      <h5 class="txtButton">CON</h5>
      <div class="buttonBase" ng-click="abilitySwitcher(2)">
      <div class="buttonSelected" ng-show="abilityToggler[2]"></div>
      </div>
    </div>
    <div class="raceStatChangerOptions">
      <h5 class="txtButton">INT</h5>
      <div class="buttonBase" ng-click="abilitySwitcher(3)">
      <div class="buttonSelected" ng-show="abilityToggler[3]"></div>
      </div>
    </div>
    <div class="raceStatChangerOptions">
      <h5 class="txtButton">WIS</h5>
      <div class="buttonBase" ng-click="abilitySwitcher(4)">
      <div class="buttonSelected" ng-show="abilityToggler[4]"></div>
      </div>
    </div>
    <div class="raceStatChangerOptions">
      <h5 class="txtButton">CHA</h5>
      <div class="buttonBase" ng-click="abilitySwitcher(5)">
      <div class="buttonSelected" ng-show="abilityToggler[5]"></div>
      </div>
    </div>
</div>
  <div class="rParagraph" ng-repeat="trait in raceInfo">{{trait.desc}}<br><br></div>
</div>

<!-- ===============================  END PLACEHOLDER  ================================== -->


<!-- ==================  RACE BUTTON  ===================== -->
<div class="buttonHolder">
  <div class="txtAndButton" ng-click="raceBtn = true; confirmRace()">
    <h5 class="txtButton">CONFIRM</h5>
    <div class="buttonBase" >
      <div class="buttonSelected" ng-show="raceBtn"></div>
    </div>
  </div>
  <div class="txtAndButton">
    <div class="buttonBase" ng-click="raceBtn = false">
      <div class="buttonSelected" ng-hide="raceBtn"></div>
    </div>
      <h5 class="txtButton">CANCEL</h5>
  </div>
</div>



</section>
