<section class="newSection" id="spells">

    <div class="spellsHolder">

<!-- ======================  available spells  ======================== -->

        <div class="availableSpells">

          <div class="spellHeaderHolder">
            <h4 class="spellHeader">AVAILABLE SPELLS</h4>
            <h5 class="spellSubHeader"> level 1 </h5>
          </div>
          <!-- ========  LIST OF SPELLS FOR LEVEL 1  ========== -->

          <div class="spellSelector">
            <div class="spellSelectorLabelContainer">
              <h5>SPELL</h5>
              <h5>SELECTED</h5>
              <h5>DESCRIPTION</h5>
            </div>
            <div class="spellChooser" >
              <!-- NG REPEAT FROM spellChooser -->
              <div class="spellScrollIndicatorUp"></div>
            <!-- ========  SINGLE ROW   ========== -->
              <div class="spellChooserRow">
                <div class="spellName">
                  <p>Ray of Frost</p>
                </div>
                <div class="spellSelection" ng-click="">
                  <div class="spellSelectionIndicator" ng-show""></div>
                </div>
                <div class="spellSelectionVertibar" ></div>
                <div class="spellDescriptionHolder">
                  <div class="spellDescShort" ng-hide="">
                    <p>A ray of freezing air and ice projects-</p>
                  </div>
                  <div class="spellDescDetailsRequest">
                    <p class="spellDescriptionOpener"  ng-click="" ng-hide="">Details</p>
                  </div>
                  <div class="spellDescLong" ng-show="">
                    <p>A ray of freezing air and ice projects from your pointing finger. You must succeed on a ranged touch attack with the ray to deal damage to a target. The ray deals 1d3 points of cold damage.</p>
                  </div>
                </div>
              </div>

              <div class="spellScrollIndicatorDown"></div>

            </div>
          </div>


        </div>
<!-- ======================      divider      ======================== -->
        <div class="spellsVerticalDivider"></div>
<!-- ======================  assigned spells  ======================== -->

        <div class="actualSpellsHolder">
          <h4 class="selectedHeader">SELECTED SPELLS</h4>

            <div class="selectedSpells">


              <!-- ===================  LEVEL 0 SPELLS   ====================== -->
              <div id="level0Spells" ng-hide="">
                <!-- ng repeat goes here -->
                <!-- show/hide each level div depending on existance of spells -->
              <h5 class="spellLevelHeader">Level 0 Spells</h5>
              <div class="selectedSpellBar greyBkg">
        <!-- N-th child switch background colors from greyBkg to ltgreyBkg -->
                  <p class=" selectedSpellName">Ray of Frost</p>
                  <p class="selectedSpellSmallDesc">A ray of freezing air and ice projects</p>
                  <!-- counter box -->
                  <div class="spellQuantity"  ng-hide="">
                      <!-- insert ng-hide for spellQuantity based on class selected. -->
                    <div class="sellIncrementerHolder">
                      <div class="spellAdder" ng-click=""></div>
                      <div class="spellSubtracter" ng-click=""></div>
                    </div>
                    <div class="spellsNumberHolder">
                    <p class="spellsNumber">3</p>
                    <!-- two way bind this number -->
                  </div>
                  </div>
                <!-- end counter box -->
                </div>
              </div>

              <!-- ===================  LEVEL 1 SPELLS   ====================== -->
              <div id="level1Spells" ng-show="">
                <!-- ng repeat goes here -->
                <!-- show/hide each level div depending on existance of spells -->
              <h5 class="spellLevelHeader">Level 1 Spells</h5>
              <div class="selectedSpellBar greyBkg">
        <!-- N-th child switch background colors from greyBkg to ltgreyBkg -->
                  <p class=" selectedSpellName">Ray of Frost</p>
                  <p class="selectedSpellSmallDesc">A ray of freezing air and ice projects</p>
                  <!-- counter box -->
                  <div class="spellQuantity"  ng-hide="">
                      <!-- insert ng-hide for spellQuantity based on class selected. -->
                    <div class="sellIncrementerHolder">
                      <div class="spellAdder" ng-click=""></div>
                      <div class="spellSubtracter" ng-click=""></div>
                    </div>
                    <div class="spellsNumberHolder">
                    <p class="spellsNumber">3</p>
                    <!-- two way bind this number -->
                  </div>
                  </div>
                <!-- end counter box -->
                </div>
              </div>


              <!-- ===================  LEVEL 2 SPELLS   ====================== -->
              <div id="level2Spells" ng-show="">
                <!-- ng repeat goes here -->
                <!-- show/hide each level div depending on existance of spells -->
              <h5 class="spellLevelHeader">Level 2 Spells</h5>
              <div class="selectedSpellBar greyBkg">
        <!-- N-th child switch background colors from greyBkg to ltgreyBkg -->
                  <p class=" selectedSpellName">Ray of Frost</p>
                  <p class="selectedSpellSmallDesc">A ray of freezing air and ice projects</p>
                  <!-- counter box -->
                  <div class="spellQuantity"  ng-hide="">
                      <!-- insert ng-hide for spellQuantity based on class selected. -->
                    <div class="sellIncrementerHolder">
                      <div class="spellAdder" ng-click=""></div>
                      <div class="spellSubtracter" ng-click=""></div>
                    </div>
                    <div class="spellsNumberHolder">
                    <p class="spellsNumber">3</p>
                    <!-- two way bind this number -->
                  </div>
                  </div>
                <!-- end counter box -->
                </div>
              </div>


              <!-- ===================  LEVEL 3 SPELLS   ====================== -->
              <div id="level3Spells" ng-show="">
                <!-- ng repeat goes here -->
                <!-- show/hide each level div depending on existance of spells -->
              <h5 class="spellLevelHeader">Level 3 Spells</h5>
              <div class="selectedSpellBar greyBkg">
        <!-- N-th child switch background colors from greyBkg to ltgreyBkg -->
                  <p class=" selectedSpellName">Ray of Frost</p>
                  <p class="selectedSpellSmallDesc">A ray of freezing air and ice projects</p>
                  <!-- counter box -->
                  <div class="spellQuantity"  ng-hide="">
                      <!-- insert ng-hide for spellQuantity based on class selected. -->
                    <div class="sellIncrementerHolder">
                      <div class="spellAdder" ng-click=""></div>
                      <div class="spellSubtracter" ng-click=""></div>
                    </div>
                    <div class="spellsNumberHolder">
                    <p class="spellsNumber">3</p>
                    <!-- two way bind this number -->
                  </div>
                  </div>
                <!-- end counter box -->
                </div>
              </div>


              <!-- ===================  LEVEL 4 SPELLS   ====================== -->
              <div id="level4Spells" ng-show="">
                <!-- ng repeat goes here -->
                <!-- show/hide each level div depending on existance of spells -->
              <h5 class="spellLevelHeader">Level 4 Spells</h5>
              <div class="selectedSpellBar greyBkg">
        <!-- N-th child switch background colors from greyBkg to ltgreyBkg -->
                  <p class=" selectedSpellName">Ray of Frost</p>
                  <p class="selectedSpellSmallDesc">A ray of freezing air and ice projects</p>
                  <!-- counter box -->
                  <div class="spellQuantity"  ng-hide="">
                      <!-- insert ng-hide for spellQuantity based on class selected. -->
                    <div class="sellIncrementerHolder">
                      <div class="spellAdder" ng-click=""></div>
                      <div class="spellSubtracter" ng-click=""></div>
                    </div>
                    <div class="spellsNumberHolder">
                    <p class="spellsNumber">3</p>
                    <!-- two way bind this number -->
                  </div>
                  </div>
                <!-- end counter box -->
                </div>
              </div>


              <!-- ===================  LEVEL 5 SPELLS   ====================== -->
              <div id="level5Spells" ng-show="">
                <!-- ng repeat goes here -->
                <!-- show/hide each level div depending on existance of spells -->
              <h5 class="spellLevelHeader">Level 5 Spells</h5>
              <div class="selectedSpellBar greyBkg">
        <!-- N-th child switch background colors from greyBkg to ltgreyBkg -->
                  <p class=" selectedSpellName">Ray of Frost</p>
                  <p class="selectedSpellSmallDesc">A ray of freezing air and ice projects</p>
                  <!-- counter box -->
                  <div class="spellQuantity"  ng-hide="">
                      <!-- insert ng-hide for spellQuantity based on class selected. -->
                    <div class="sellIncrementerHolder">
                      <div class="spellAdder" ng-click=""></div>
                      <div class="spellSubtracter" ng-click=""></div>
                    </div>
                    <div class="spellsNumberHolder">
                    <p class="spellsNumber">3</p>
                    <!-- two way bind this number -->
                  </div>
                  </div>
                <!-- end counter box -->
                </div>
              </div>


              <!-- ===================  LEVEL 6 SPELLS   ====================== -->
              <div id="level6Spells" ng-show="">
                <!-- ng repeat goes here -->
                <!-- show/hide each level div depending on existance of spells -->
              <h5 class="spellLevelHeader">Level 6 Spells</h5>
              <div class="selectedSpellBar greyBkg">
        <!-- N-th child switch background colors from greyBkg to ltgreyBkg -->
                  <p class=" selectedSpellName">Ray of Frost</p>
                  <p class="selectedSpellSmallDesc">A ray of freezing air and ice projects</p>
                  <!-- counter box -->
                  <div class="spellQuantity"  ng-hide="">
                      <!-- insert ng-hide for spellQuantity based on class selected. -->
                    <div class="sellIncrementerHolder">
                      <div class="spellAdder" ng-click=""></div>
                      <div class="spellSubtracter" ng-click=""></div>
                    </div>
                    <div class="spellsNumberHolder">
                    <p class="spellsNumber">3</p>
                    <!-- two way bind this number -->
                  </div>
                  </div>
                <!-- end counter box -->
                </div>
              </div>


              <!-- ===================  LEVEL 7 SPELLS   ====================== -->
              <div id="level7Spells" ng-show="">
                <!-- ng repeat goes here -->
                <!-- show/hide each level div depending on existance of spells -->
              <h5 class="spellLevelHeader">Level 7 Spells</h5>
              <div class="selectedSpellBar greyBkg">
        <!-- N-th child switch background colors from greyBkg to ltgreyBkg -->
                  <p class=" selectedSpellName">Ray of Frost</p>
                  <p class="selectedSpellSmallDesc">A ray of freezing air and ice projects</p>
                  <!-- counter box -->
                  <div class="spellQuantity"  ng-hide="">
                      <!-- insert ng-hide for spellQuantity based on class selected. -->
                    <div class="sellIncrementerHolder">
                      <div class="spellAdder" ng-click=""></div>
                      <div class="spellSubtracter" ng-click=""></div>
                    </div>
                    <div class="spellsNumberHolder">
                    <p class="spellsNumber">3</p>
                    <!-- two way bind this number -->
                  </div>
                  </div>
                <!-- end counter box -->
                </div>
              </div>


              <!-- ===================  LEVEL 8 SPELLS   ====================== -->
              <div id="level8Spells" ng-show="">
                <!-- ng repeat goes here -->
                <!-- show/hide each level div depending on existance of spells -->
              <h5 class="spellLevelHeader">Level 8 Spells</h5>
              <div class="selectedSpellBar greyBkg">
        <!-- N-th child switch background colors from greyBkg to ltgreyBkg -->
                  <p class=" selectedSpellName">Ray of Frost</p>
                  <p class="selectedSpellSmallDesc">A ray of freezing air and ice projects</p>
                  <!-- counter box -->
                  <div class="spellQuantity"  ng-hide="">
                      <!-- insert ng-hide for spellQuantity based on class selected. -->
                    <div class="sellIncrementerHolder">
                      <div class="spellAdder" ng-click=""></div>
                      <div class="spellSubtracter" ng-click=""></div>
                    </div>
                    <div class="spellsNumberHolder">
                    <p class="spellsNumber">3</p>
                    <!-- two way bind this number -->
                  </div>
                  </div>
                <!-- end counter box -->
                </div>
              </div>


              <!-- ===================  LEVEL 9 SPELLS   ====================== -->
              <div id="level9Spells" ng-show="">
                <!-- ng repeat goes here -->
                <!-- show/hide each level div depending on existance of spells -->
              <h5 class="spellLevelHeader">Level 9 Spells</h5>
              <div class="selectedSpellBar greyBkg">
        <!-- N-th child switch background colors from greyBkg to ltgreyBkg -->
                  <p class=" selectedSpellName">Ray of Frost</p>
                  <p class="selectedSpellSmallDesc">A ray of freezing air and ice projects</p>
                  <!-- counter box -->
                  <div class="spellQuantity"  ng-hide="">
                      <!-- insert ng-hide for spellQuantity based on class selected. -->
                    <div class="sellIncrementerHolder">
                      <div class="spellAdder" ng-click=""></div>
                      <div class="spellSubtracter" ng-click=""></div>
                    </div>
                    <div class="spellsNumberHolder">
                    <p class="spellsNumber">3</p>
                    <!-- two way bind this number -->
                  </div>
                  </div>
                <!-- end counter box -->
                </div>
              </div>



              </div>
                  <!-- END SELECTED SPELLS -->


                  <div class="spellBreakdown">
                      <h4 class="spellBreakdownHeader">SPELL BREAKDOWN</h4>
                      <!-- LABELS -->
                      <div class=" spellBreadownRow borderBottom">
                        <div class="spellBreakdownBox borderRight labelBox"></div>
                        <div class="spellBreakdownBox borderRight"><p class="spellLabelTxt">level 0</p></div>
                        <div class="spellBreakdownBox borderRight"><p class="spellLabelTxt">level 1</p></div>
                        <div class="spellBreakdownBox borderRight"><p class="spellLabelTxt">level 2</p></div>
                        <div class="spellBreakdownBox borderRight"><p class="spellLabelTxt">level 3</p></div>
                        <div class="spellBreakdownBox borderRight"><p class="spellLabelTxt">level 4</p></div>
                        <div class="spellBreakdownBox borderRight"><p class="spellLabelTxt">level 5</p></div>
                        <div class="spellBreakdownBox borderRight"><p class="spellLabelTxt">level 6</p></div>
                        <div class="spellBreakdownBox borderRight"><p class="spellLabelTxt">level 7</p></div>
                        <div class="spellBreakdownBox borderRight"><p class="spellLabelTxt">level 8</p></div>
                        <div class="spellBreakdownBox"><p class="spellLabelTxt">level 9</p></div>
                      </div>
                      <!-- CORE -->
                      <div class="spellBreadownRow borderBottom">
                        <div class="spellBreakdownBox borderRight"><p class="spellLabelTxt">CORE</p></div>
                        <div class="spellBreakdownBox borderRight"><p>4</p></div>
                        <div class="spellBreakdownBox borderRight"><p>2</p></div>
                        <div class="spellBreakdownBox borderRight"><p>-</p></div>
                        <div class="spellBreakdownBox borderRight"><p>-</p></div>
                        <div class="spellBreakdownBox borderRight"><p>-</p></div>
                        <div class="spellBreakdownBox borderRight"><p>-</p></div>
                        <div class="spellBreakdownBox borderRight"><p>-</p></div>
                        <div class="spellBreakdownBox borderRight"><p>-</p></div>
                        <div class="spellBreakdownBox borderRight"><p>-</p></div>
                        <div class="spellBreakdownBox "><p>-</p></div>
                      </div>
                      <!-- BONUS -->
                      <div class="spellBreadownRow">
                        <div class="spellBreakdownBox borderRight"><p class="spellLabelTxt">BONUS</p></div>
                        <div class="spellBreakdownBox borderRight"><p>1</p></div>
                        <div class="spellBreakdownBox borderRight"><p>1</p></div>
                        <div class="spellBreakdownBox borderRight"><p>-</p></div>
                        <div class="spellBreakdownBox borderRight"><p>-</p></div>
                        <div class="spellBreakdownBox borderRight"><p>-</p></div>
                        <div class="spellBreakdownBox borderRight"><p>-</p></div>
                        <div class="spellBreakdownBox borderRight"><p>-</p></div>
                        <div class="spellBreakdownBox borderRight"><p>-</p></div>
                        <div class="spellBreakdownBox borderRight"><p>-</p></div>
                        <div class="spellBreakdownBox"><p>-</p></div>
                      </div>
                      <!-- DOMAIN -->
                      <div class="spellBreadownRow borderTop" ng-show="">
                        <div class="spellBreakdownBox borderRight"><p class="spellLabelTxt">DOMAIN</p></div>
                        <div class="spellBreakdownBox borderRight"><p>-</p></div>
                        <div class="spellBreakdownBox borderRight"><p>-</p></div>
                        <div class="spellBreakdownBox borderRight"><p>-</p></div>
                        <div class="spellBreakdownBox borderRight"><p>-</p></div>
                        <div class="spellBreakdownBox borderRight"><p>-</p></div>
                        <div class="spellBreakdownBox borderRight"><p>-</p></div>
                        <div class="spellBreakdownBox borderRight"><p>-</p></div>
                        <div class="spellBreakdownBox borderRight"><p>-</p></div>
                        <div class="spellBreakdownBox borderRight"><p>-</p></div>
                        <div class="spellBreakdownBox "><p>-</p></div>
                      </div>
                  </div>

            </div>


        </div>

<!-- ==================  SPELLS BUTTON  ===================== -->
<div class="buttonHolder">
  <div class="buttonBase" ng-click="spellsBtn = true">
  <div class="txtAndButton" >
    <h5 class="txtButton">CONFIRM</h5>
      <div class="buttonSelected" ng-show="spellsBtn"></div>
    </div>
  </div>
  <div class="txtAndButton">
    <div class="buttonBase" ng-click="spellsBtn = false">
      <div class="buttonSelected" ng-hide="spellsBtn"></div>
    </div>
      <h5 class="txtButton">CANCEL</h5>
  </div>
</div>








</section>
