<div class="playerNav">
  <div class="bttnRow">
  <div class="playerBttn" id="bttn1"  ng-click="barStyle={'background-color':'#3E403F'}">
    <p class="PlayerNavTxt">CORE</p>
  </div>
  <div class="playerBttn" id="bttn2" ng-click="barStyle={'background-color':'#7E8387'}">    
    <div class="bttnPoint"  id="bttnPoint1"></div>
    <p class="PlayerNavTxt">COMBAT</p>
  </div>
  <div class="playerBttn" id="bttn3" ng-click="barStyle={'background-color':'#A7B2B6'}">
  <div class="bttnPoint" id="bttnPoint2"></div>
  <p class="PlayerNavTxt">SKILLS</p>
  </div>
  <div class="playerBttn" id="bttn4" ng-click="barStyle={'background-color':'#B88400'}">
  <div class="bttnPoint"  id="bttnPoint3"></div>
  <p class="PlayerNavTxt">SPELLS</p>
  </div>
  <div class="playerBttn" id="bttn5" ng-click="barStyle={'background-color':'#FFD756'}">
  <div class="bttnPoint"  id="bttnPoint4"></div>
  <p class="PlayerNavTxt">FEATS/ABILITIES</p>
  </div>
  <div class="playerBttn" id="bttn6" ng-click="barStyle={'background-color':'#B1C3D7'}">
  <div class="bttnPoint"  id="bttnPoint5"></div>
  <p class="PlayerNavTxt">EQUIPMENT</p>
  </div>
  <div class="playerBttn" id="bttn7" ng-click="barStyle={'background-color':'#516B82'}">
  <div class="bttnPoint"  id="bttnPoint6"></div>
  <p class="PlayerNavTxt">CUSTOMIZATION</p>
  </div>
  <div class="playerBttn" id="bttn8" ng-click="barStyle={'background-color':'#14446A'}">
  <div class="bttnPoint"  id="bttnPoint7"></div>
  <p class="PlayerNavTxt">JOURNAL</p>
  </div>
  <div class="playerBttn" id="bttn9" ng-click="barStyle={'background-color':'#011B34'}">
  <div  class="bttnPoint" id="bttnPoint8"></div>
  <p class="PlayerNavTxt">MENU</p>
  </div>
  </div>
  <div class="bttnSubRow" ng-style="barStyle"></div>
</div>