<div class="hudBox paddingCleaner flexRow ">

  <div class="featHudToggleBox flexColumn">

    <!-- feats button -->

    <p class="centerTxt featHudToggleBoxHeader" >FEATS</p>
    <div class="featHudBttn" ng-click="featsInHud=true; abilitiesInHud=false; showFeatsInHud()">
      <div class="featHudBttnSelector" ng-show="featsInHud"></div>
    </div>

    <!-- abilities button -->

    <p class="centerTxt featHudToggleBoxHeader" >ABILITIES</p>
    <div class="featHudBttn" ng-click="abilitiesInHud=true; featsInHud=false; showAbilitiesInHud()">
      <div class="featHudBttnSelector" ng-show="abilitiesInHud"></div>
    </div>
  </div>

  <!-- right half of the hud -->

  <div class="featHudFeatHolder">

    <div class="featHudHeader centerTxt flexRow">
      <div class="featHudRightArrow" ng-click="showNextFeat(-1)"></div>
        <h3 class="featHudCenteringTxt">{{abilityToShowArrs[abilityToShow].name}}</h3>
      <div class="featHudLeftArrow" ng-click="showNextFeat(1)"></div>
    </div>


    <div class="featHudDescriptionHolder">
      <div class="featHudDescription">
        <p>{{abilityToShowArrs[abilityToShow].description}}</p>
      </div>
    </div>

  </div>

























</div>
