<div class="playerCoreHolder">
     <!-- ========================  STUFF HOLDER HOLDER ======================== -->

  <div class="playerAttributeHolder">
    <!-- ========================  STUFF HOLDER  ======================== -->

<!-- ==========  TOP ROW  ========== -->
    <div class="playerAttributeRow">

        <div class="playerAttributeCell"></div>
        <div class="playerAttributeCell">
          <p class="playerAttributeTopLabel">base</p>
        </div>
        <div class="playerAttributeCell">
          <p class="playerAttributeTopLabel">ability<br>modifier</p>
        </div>
        <div class="playerAttributeCell">
          <p class="playerAttributeTopLabel">temp<br>adjustment</p>
        </div>
        <div class="playerAttributeCell">
          <p class="playerAttributeTopLabel">temp<br>modifier</p>
        </div>
        <div class="playerAttributeCell"></div>

    </div>
<!-- ==========  STR  ========== -->
    <div class="playerAttributeRow">

        <div class="playerAttributeCell">
          <h3 class="playerAttributeSideLabel">STR</h3>
        </div>
        <div class="playerAttributeCell playerAttributeMainContentCell">
          <h3 class="playerAttirbuteContentTxt">{{playerAtt.STR}}</h3>
        </div>
        <div class="playerAttributeCell playerAttributeSubContentCell2">
          <h3 class="playerAttirbuteContentSubTxt">{{playerAttMod.mSTR}}</h3>
        </div>
        <div class="playerAttributeCell playerAttributeSubContentCell1">
          <h3 class="playerAttirbuteContentSubTxt">{{playerAttTmpAdj.taSTR}}</h3>
        </div>
        <div class="playerAttributeCell playerAttributeSubContentCell2">
          <h3 class="playerAttirbuteContentSubTxt">{{playerAttTmpMod.tmSTR}}</h3>
        </div>
        <div class="playerAttributeCell playerAttributeArrowHolder">
          <div class="playerAttributeUpArrow" ng-click="playerChangeATT((1), 'STR')"></div>
          <div class="playerAttributeDownArrow" ng-click="playerChangeATT((-1), 'STR')"></div>
        </div>

    </div>
  <!-- ==========  DEX  ========== -->
      <div class="playerAttributeRow">

          <div class="playerAttributeCell">
            <h3 class="playerAttributeSideLabel">DEX</h3>
          </div>
          <div class="playerAttributeCell playerAttributeMainContentCell">
            <h3 class="playerAttirbuteContentTxt">{{playerAtt.DEX}}</h3>
          </div>
          <div class="playerAttributeCell playerAttributeSubContentCell2">
            <h3 class="playerAttirbuteContentSubTxt">{{playerAttMod.mDEX}}</h3>
          </div>
          <div class="playerAttributeCell playerAttributeSubContentCell1">
            <h3 class="playerAttirbuteContentSubTxt">{{playerAttTmpAdj.taDEX}}</h3>
          </div>
          <div class="playerAttributeCell playerAttributeSubContentCell2">
            <h3 class="playerAttirbuteContentSubTxt">{{playerAttTmpMod.tmDEX}}</h3>
          </div>
          <div class="playerAttributeCell playerAttributeArrowHolder">
            <div class="playerAttributeUpArrow" ng-click="playerChangeATT((1), 'DEX')"></div>
            <div class="playerAttributeDownArrow" ng-click="playerChangeATT((-1), 'DEX')"></div>
          </div>

      </div>
  <!-- ==========  CON  ========== -->
      <div class="playerAttributeRow">

          <div class="playerAttributeCell">
            <h3 class="playerAttributeSideLabel">CON</h3>
          </div>
          <div class="playerAttributeCell playerAttributeMainContentCell">
            <h3 class="playerAttirbuteContentTxt">{{playerAtt.CON}}</h3>
          </div>
          <div class="playerAttributeCell playerAttributeSubContentCell2">
            <h3 class="playerAttirbuteContentSubTxt">{{playerAttMod.mCON}}</h3>
          </div>
          <div class="playerAttributeCell playerAttributeSubContentCell1">
            <h3 class="playerAttirbuteContentSubTxt">{{playerAttTmpAdj.taCON}}</h3>
          </div>
          <div class="playerAttributeCell playerAttributeSubContentCell2">
            <h3 class="playerAttirbuteContentSubTxt">{{playerAttTmpMod.tmCON}}</h3>
          </div>
          <div class="playerAttributeCell playerAttributeArrowHolder">
            <div class="playerAttributeUpArrow" ng-click="playerChangeATT((1), 'CON')"></div>
            <div class="playerAttributeDownArrow" ng-click="playerChangeATT((-1), 'CON')"></div>
          </div>

      </div>
  <!-- ==========  WIS  ========== -->
      <div class="playerAttributeRow">

          <div class="playerAttributeCell">
            <h3 class="playerAttributeSideLabel">WIS</h3>
          </div>
          <div class="playerAttributeCell playerAttributeMainContentCell">
            <h3 class="playerAttirbuteContentTxt">{{playerAtt.WIS}}</h3>
          </div>
          <div class="playerAttributeCell playerAttributeSubContentCell2">
            <h3 class="playerAttirbuteContentSubTxt">{{playerAttMod.mWIS}}</h3>
          </div>
          <div class="playerAttributeCell playerAttributeSubContentCell1">
            <h3 class="playerAttirbuteContentSubTxt">{{playerAttTmpAdj.taWIS}}</h3>
          </div>
          <div class="playerAttributeCell playerAttributeSubContentCell2">
            <h3 class="playerAttirbuteContentSubTxt">{{playerAttTmpMod.tmWIS}}</h3>
          </div>
          <div class="playerAttributeCell playerAttributeArrowHolder">
            <div class="playerAttributeUpArrow" ng-click="playerChangeATT((1), 'WIS')"></div>
            <div class="playerAttributeDownArrow" ng-click="playerChangeATT((-1), 'WIS')"></div>
          </div>

    </div>
    <!-- ==========  INT  ========== -->
        <div class="playerAttributeRow">

            <div class="playerAttributeCell">
              <h3 class="playerAttributeSideLabel">INT</h3>
            </div>
            <div class="playerAttributeCell playerAttributeMainContentCell">
              <h3 class="playerAttirbuteContentTxt">{{playerAtt.INT}}</h3>
            </div>
            <div class="playerAttributeCell playerAttributeSubContentCell2">
              <h3 class="playerAttirbuteContentSubTxt">{{playerAttMod.mINT}}</h3>
            </div>
            <div class="playerAttributeCell playerAttributeSubContentCell1">
              <h3 class="playerAttirbuteContentSubTxt">{{playerAttTmpAdj.taINT}}</h3>
            </div>
            <div class="playerAttributeCell playerAttributeSubContentCell2">
              <h3 class="playerAttirbuteContentSubTxt">{{playerAttTmpMod.tmINT}}</h3>
            </div>
            <div class="playerAttributeCell playerAttributeArrowHolder">
              <div class="playerAttributeUpArrow" ng-click="playerChangeATT((1), 'INT')"></div>
              <div class="playerAttributeDownArrow" ng-click="playerChangeATT((-1), 'INT')"></div>
            </div>

        </div>
    <!-- ==========  CHA  ========== -->
        <div class="playerAttributeRow">

            <div class="playerAttributeCell">
              <h3 class="playerAttributeSideLabel">CHA</h3>
            </div>
            <div class="playerAttributeCell playerAttributeMainContentCell">
              <h3 class="playerAttirbuteContentTxt">{{playerAtt.CHA}}</h3>
            </div>
            <div class="playerAttributeCell playerAttributeSubContentCell2">
              <h3 class="playerAttirbuteContentSubTxt">{{playerAttMod.mCHA}}</h3>
            </div>
            <div class="playerAttributeCell playerAttributeSubContentCell1">
              <h3 class="playerAttirbuteContentSubTxt">{{playerAttTmpAdj.taCHA}}</h3>
            </div>
            <div class="playerAttributeCell playerAttributeSubContentCell2">
              <h3 class="playerAttirbuteContentSubTxt">{{playerAttTmpMod.tmCHA}}</h3>
            </div>
            <div class="playerAttributeCell playerAttributeArrowHolder">
              <div class="playerAttributeUpArrow" ng-click="playerChangeATT((1), 'CHA')"></div>
              <div class="playerAttributeDownArrow" ng-click="playerChangeATT((-1), 'CHA')"></div>
            </div>

        </div>



  </div>


   <!-- ========================  DIVIDER  ======================== -->
  <div class="playerCoreDivider borderRight "></div>
   <!-- ========================  RIGHT SIDE OF THE DIVIDE  ======================== -->
  <div class="playerCoreStatsHolder">

    <div class="playerCoreArmorClassHolder">
      <!-- single row -->
      <div class="playerCoreArmorClassRow ">
        <div class="playerCoreStatBox"></div>
        <div class="playerCoreStatBox playerStatTotal">
          <p class="playerStatLabel  ">TOTAL</p>
        </div>
        <div class="playerCoreStatBox "></div>
        <div class="playerCoreStatBox playerStatPadding">
          <p class="playerStatLabel">ARMOR<BR>BONUS</p>
        </div>
        <div class="playerCoreSpacerDiv"></div>
        <div class="playerCoreStatBox playerStatPadding">
          <p class="playerStatLabel">SHIELD<BR>BONUS</p>
        </div>
                <div class="playerCoreSpacerDiv"></div>
        <div class="playerCoreStatBox playerStatPadding">
          <p class="playerStatLabel">DEX<BR>MOD</p>
        </div>
                <div class="playerCoreSpacerDiv"></div>
        <div class="playerCoreStatBox playerStatPadding">
          <p class="playerStatLabel">SIZE<BR>MOD</p>
        </div>
                <div class="playerCoreSpacerDiv"></div>
        <div class="playerCoreStatBox playerStatPadding">
          <p class="playerStatLabel">NAT.<BR>ARMOR</p>
        </div>
                <div class="playerCoreSpacerDiv"></div>
        <div class="playerCoreStatBox playerStatPadding">
          <p class="playerStatLabel">DEFL.<BR>BONUS</p>
        </div>
                <div class="playerCoreSpacerDiv"></div>
        <div class="playerCoreStatBox playerStatPadding">
          <p class="playerStatLabel">MISC<BR>MOD</p>
        </div>
      </div>

      <!-- content -->
      <div class="playerCoreArmorClassRow ">
        <div class="playerCoreStatBox">
          <h4 class='playerCoreHeader'>AC</h4>
        </div>
        <div class="playerCoreStatBox statBoxBlue">
          <h3 class="playerCoreTotalTxt">{{playerACCalc()}}</h3>
        </div>
        <div class="playerCoreStatBox ">
          <h5 class='playerCoreArmorText1'>= 10 +</h5>
        </div>
        <div class="playerCoreStatBox ltgreyBkg">
          <h3 class="playerCoreBoxContentTxt">{{playerArmorBonus}}</h3>
        </div>
        <h5 class='playerCoreArmorText'>+</h5>
        <div class="playerCoreStatBox dkgreyBkg">
          <h3 class="playerCoreBoxContentTxt">{{playerShieldBonus}}</h3>
        </div>
        <h5 class='playerCoreArmorText'>+</h5>
        <div class="playerCoreStatBox ltgreyBkg">
          <h3 class="playerCoreBoxContentTxt">{{playerAttTmpMod.tmDEX}}</h3>
        </div>
        <h5 class='playerCoreArmorText'>+</h5>
        <div class="playerCoreStatBox dkgreyBkg">
          <h3 class="playerCoreBoxContentTxt">{{playerSizeBonus}}</h3>
        </div>
        <h5 class='playerCoreArmorText'>+</h5>
        <div class="playerCoreStatBox ltgreyBkg">
          <h3 class="playerCoreBoxContentTxt">{{playerNaturalArmor}}</h3>
        </div>
        <h5 class='playerCoreArmorText'>+</h5>
        <div class="playerCoreStatBox dkgreyBkg">
          <h3 class="playerCoreBoxContentTxt">{{playerDeflectionBonus}}</h3>
        </div>
        <h5 class='playerCoreArmorText'>+</h5>
        <div class="playerCoreStatBox ltgreyBkg">
          <input class="playerCoreInput" type="number" max="99" name="Misc Armor Mod" ng-model="playerMiscArmorMod">
        </div>
      </div>

    </div>
    <!-- DIVIDER -->
      <div class="playerCoreHorizontalDivider borderBottom"></div>
    <!-- FURTHER AC  SECOND ROW-->
    <div class="playerCoreFurtherACRow ">
      <h4 class='playerCoreSubHeader'>TOUCH AC</h4>
      <div class="playerCoreStatBox ltgreyBkg">
        <h3 class="playerCoreBoxContentTxt">{{playerTouchAC}}</h3></div>
      <h4 class='playerCoreSubheader2Line'>FLAT-FOOTED <br>AC</h4>
      <div class="playerCoreStatBox dkgreyBkg">
        <h3 class="playerCoreBoxContentTxt">0</h3>
      </div>
      <h4 class='playerCoreSubheader2Line'>DAMAGE REDUCTION</h4>
      <div class="playerCoreStatBox ltgreyBkg">
        <h3 class="playerCoreBoxContentTxt">0</h3>
      </div>
    </div>
    <!-- DIVIDER -->
      <div class="playerCoreHorizontalDivider borderBottom"></div>
    <!-- FURTHER AC  THIRD ROW-->
  <div class="playerCoreArmorClassHolder">
      <!-- row 3 subrow 1 -->
      <div class="playerCoreArmorClassRow">
        <div class="playerCoreInitiaveBox"></div>
        <div class="playerCoreStatBox playerStatTotal">
          <p class="playerStatLabel">TOTAL</p>
        </div>
          <div class="playerCoreSpacerDiv"></div>
        <div class="playerCoreStatBox playerStatPadding">
          <p class="playerStatLabel">DEX<BR>MOD</p>
        </div>
          <div class="playerCoreSpacerDiv"></div>
        <div class="playerCoreStatBox playerStatPadding">
          <p class="playerStatLabel">MISC<BR>MOD</p>
        </div>
        <div class="playerCoreSpeedBox"> </div>
        <div class="playerCoreStatBox">
          <p class="playerStatLabel playerStatTotal">NORMAL</p>
        </div>
        <div class="playerCoreSpacerDiv"></div>
        <div class="playerCoreStatBox playerStatPadding">
          <p class="playerStatLabel">WITH<BR>ARMOR</p>
        </div>

      </div>
      <!-- row 3 subrow 2 -->
      <div class="playerCoreArmorClassRow">
        <div class="playerCoreInitiaveBox">
            <h4 class='playerCoreSubHeader'>INITIATIVE</h4>
        </div>
        <div class="playerCoreStatBox statBoxBlue">
          <h3 class="playerCoreTotalTxt">{{playerInitiativeCalc()}}</h3>
        </div>
        <h5 class='playerCoreArmorText'>=</h5>
        <div class="playerCoreStatBox dkgreyBkg">
          <h3 class="playerCoreBoxContentTxt">{{playerAttTmpMod.tmDEX}}</h3>
        </div>
        <h5 class='playerCoreArmorText'>+</h5>
        <div class="playerCoreStatBox ltgreyBkg">
          <input class="playerCoreInput" type="number" max="99" name="Misc Armor Mod" ng-model="playerInitiativeMiscMod">
        </div>
        <div class="playerCoreSpeedBox">
            <h4 class='playerCoreSubHeader'>SPEED</h4>
        </div>
        <div class="playerCoreStatBox dkgreyBkg">
          <h3 class="playerCoreBoxContentTxt">{{playerSpeed}}</h3>
        </div>
        <div class="playerCoreSpacerDiv"></div>
        <div class="playerCoreStatBox ltgreyBkg">
          <h3 class="playerCoreBoxContentTxt">{{playerSpeedWiArmor}}</h3>
        </div>

      </div>

</div>
<!-- Horizontal Spacer -->
<div class="playerCoreHorizontalDivider borderBottom"></div>
<!-- row 3 subrow 1 -->

    <!-- SAVES-->
<div class="playerCoreSavesHolder">
  <!-- first row -->
  <div class="playerCoreArmorClassRow">
    <div class="playerCoreFortitudeBox">
      <h4 class='playerCoreSubHeader'></h4>
    </div>
    <div class="playerCoreStatBox playerStatTotal">
      <p class="playerStatLabel  ">TOTAL</p>
    </div>
    <div class="playerCoreSpacerDiv"></div>
    <div class="playerCoreStatBox playerStatPadding">
      <p class="playerStatLabel">BASE<BR>SAVE</p>
    </div>
    <div class="playerCoreSpacerDiv"></div>
    <div class="playerCoreStatBox playerStatPadding">
      <p class="playerStatLabel">ABILITY<BR>MOD</p>
    </div>
    <div class="playerCoreSpacerDiv"></div>
    <div class="playerCoreStatBox playerStatPadding">
      <p class="playerStatLabel">MAGIC<BR>MOD</p>
    </div>
    <div class="playerCoreSpacerDiv"></div>
    <div class="playerCoreStatBox playerStatPadding">
      <p class="playerStatLabel">MISC<BR>MOD</p>
    </div>
    <div class="playerCoreSpacerDiv"></div>
    <div class="playerCoreStatBox playerStatPadding">
      <p class="playerStatLabel">TEMP<BR>MOD</p>
    </div>
  </div>
  <div class="playerCoreSaveSpacer"></div>
    <!-- second row -->
  <div class="playerCoreArmorClassRow">
    <div class="playerCoreFortitudeBox">
      <h4 class='playerCoreSubHeader'>FORTITUDE</h4>
    </div>
    <div class="playerCoreStatBox statBoxBlue">
      <h3 class="playerCoreTotalTxt">{{playerFortSaveCalc()}}</h3>
    </div>
    <h5 class='playerCoreArmorText'>=</h5>
    <div class="playerCoreStatBox dkgreyBkg">
      <h3 class="playerCoreBoxContentTxt">{{playerSavesBase.FORTITUDE}}</h3>
    </div>
    <h5 class='playerCoreArmorText'>+</h5>
    <div class="playerCoreStatBox ltgreyBkg">
      <h3 class="playerCoreBoxContentTxt">{{playerFortAbilityModCalc()}}</h3>
    </div>
    <h5 class='playerCoreArmorText'>+</h5>
    <div class="playerCoreStatBox dkgreyBkg">
      <h3 class="playerCoreBoxContentTxt">{{playerSavesMagicMod.FORTITUDE}}</h3>
    </div>
    <h5 class='playerCoreArmorText'>+</h5>
    <div class="playerCoreStatBox ltgreyBkg">
      <h3 class="playerCoreBoxContentTxt">{{playerSavesMiscMod.FORTITUDE}}</h3>
    </div>
    <h5 class='playerCoreArmorText'>+</h5>
    <div class="playerCoreStatBox dkgreyBkg">
      <input class="playerCoreInput" type="number" max="99" name="Misc Armor Mod" ng-model="playerSavesTempMod.FORTITUDE">
    </div>
  </div>
  <div class="playerCoreSaveSpacer"></div>
    <!-- third row -->
    <div class="playerCoreArmorClassRow">
      <div class="playerCoreFortitudeBox">
        <h4 class='playerCoreSubHeader'>REFLEX</h4>
      </div>
      <div class="playerCoreStatBox statBoxBlue">
        <h3 class="playerCoreTotalTxt">{{playerRefSaveCalc()}}</h3>
      </div>
      <h5 class='playerCoreArmorText'>=</h5>
      <div class="playerCoreStatBox ltgreyBkg">
        <h3 class="playerCoreBoxContentTxt">{{playerSavesBase.REFLEX}}</h3>
      </div>
      <h5 class='playerCoreArmorText'>+</h5>
      <div class="playerCoreStatBox dkgreyBkg">
        <h3 class="playerCoreBoxContentTxt">{{playerRefAbilityModCalc()}}</h3>
      </div>
      <h5 class='playerCoreArmorText'>+</h5>
      <div class="playerCoreStatBox ltgreyBkg">
        <h3 class="playerCoreBoxContentTxt">{{playerSavesMagicMod.REFLEX}}</h3>
      </div>
      <h5 class='playerCoreArmorText'>+</h5>
      <div class="playerCoreStatBox dkgreyBkg">
        <h3 class="playerCoreBoxContentTxt">{{playerSavesMiscMod.REFLEX}}</h3>
      </div>
      <h5 class='playerCoreArmorText'>+</h5>
      <div class="playerCoreStatBox ltgreyBkg">
        <input class="playerCoreInput" type="number" max="99" name="Misc Armor Mod" ng-model="playerSavesTempMod.REFLEX">
      </div>
    </div>
      <div class="playerCoreSaveSpacer"></div>
    <!-- fourth row -->
    <div class="playerCoreArmorClassRow">
      <div class="playerCoreFortitudeBox">
        <h4 class='playerCoreSubHeader'>WILL</h4>
      </div>
      <div class="playerCoreStatBox statBoxBlue">
        <h3 class="playerCoreTotalTxt">{{playerWillSaveCalc()}}</h3>
      </div>
      <h5 class='playerCoreArmorText'>=</h5>
      <div class="playerCoreStatBox ltgreyBkg">
        <h3 class="playerCoreBoxContentTxt">{{playerSavesBase.WILL}}</h3>
      </div>
      <h5 class='playerCoreArmorText'>+</h5>
      <div class="playerCoreStatBox dkgreyBkg">
        <h3 class="playerCoreBoxContentTxt">{{playerWillAbilityModCalc()}}</h3>
      </div>
      <h5 class='playerCoreArmorText'>+</h5>
      <div class="playerCoreStatBox ltgreyBkg">
        <h3 class="playerCoreBoxContentTxt">{{playerSavesMagicMod.WILL}}</h3>
      </div>
      <h5 class='playerCoreArmorText'>+</h5>
      <div class="playerCoreStatBox dkgreyBkg">
        <h3 class="playerCoreBoxContentTxt">{{playerSavesMiscMod.WILL}}</h3>
      </div>
      <h5 class='playerCoreArmorText'>+</h5>
      <div class="playerCoreStatBox ltgreyBkg">
        <input class="playerCoreInput" type="number" max="99" name="Misc Armor Mod" ng-model="playerSavesTempMod.WILL">
      </div>
    </div>
      <div class="playerCoreSaveSpacer"></div>


</div>



  </div>
  <!-- END OF RIGHT SIDE -->


</div>

<!-- PORTRAIT SELECTOR MODAL -->
<div class="pmsOverlay" ng-show="portraitChooser" ng-click="portraitChooser =!portraitChooser"></div>
<div class="pmsStoreBox flexColumn" ng-show="portraitChooser">
  <!-- title -->
  <div class="pmsStoreTitleBox centerTxt">
    <h2 class="whtTxt">CHOOSE AN IMAGE</h2>
  </div>
  <!-- choose from stock -->
  <div class="stockImageChooser blkBkg flexRow">
    <div class="stockImageLeftArrow" ng-click="portraitShifter(-1)"></div>
    <div class="stockImageBox flexColumn">
      <!-- content -->
      <div class="stockImagePicker flexRow">
        
        <div class="stockImg">
          <div class="stockImageBlocker"></div>
          <img class="stockImageImg" ng-src="{{portraitArray[portraitCounter1]}}" alt="img 1">
        </div>
        
        <div class="stockImg">
          <img class="stockImageImg" ng-src="{{portraitArray[portraitCounter2]}}" alt="img 2">
        </div>
        
        <div class="stockImg">
          <div class="stockImageBlocker"></div>
          <img class="stockImageImg" ng-src="{{portraitArray[portraitCounter3]}}" alt="img 3">
        </div>
        
      </div>
      <!-- gender picker -->
      <div class="stockImageGenderToggler flexRow">
        

          <div class="stockGender flexRow ">
            <h4 class="pmsCheckoutTitle rightTxt">MALE</h4>
            <div class="genderBttn" ng-click="portraitGenderSelector('Male')">
              <div class="genderBttnIndicator" ng-show="playerPortraitIsMale"></div>
            </div>
          </div>
          
          <div class="stockGender flexRow ">
            <div class="genderBttn" ng-click="portraitGenderSelector('Female')">
              <div class="genderBttnIndicator" ng-show="playerPortraitIsFemale"></div>
            </div>
            <h4 class="pmsCheckoutTitle leftTxt">FEMALE</h4>
          
          </div>
        
        
      </div>
      
    </div>
    <div class="stockImageRightArrow" ng-click="portraitShifter(1)"></div>
  </div>
    <!-- or enter a url -->
    <h3 class="centerTxt">OR ENTER A URL</h3>
    <input class="stockImageURL" type="text" name="image url" value="reccomended size 120px X 175px">
    
    <!-- CONFIRM -->
    <div class="pmsCheckout blkBkg flexRow">
      <h4 class="whtTxt pmsCheckoutTitle rightTxt">CONFIRM</h4>
      <div class="pmsCheckoutBttn">
        <div class="pmsCheckoutBttnIndicator"></div>
      </div>
      <!-- cancel -->
      <h4 class="whtTxt pmsCheckoutTitle rightTxt">CANCEL</h4>
      <div class="pmsCheckoutBttn">
        <div class="pmsCheckoutBttnIndicator"></div>
      </div>

    </div>
</div>



