<div class="scrollBkgrd">
    <!--=============  first header   =============-->
    <div class="newHeader" id="firstHeader">
        <h4 class="newHeaderTxt">ROLLS</h4>
    </div>
    <!-- first section -->

      <rolls ng-show="rollShower" roll-shower="rollShower" race-shower="raceShower" attributes="attributes" attribute-modifier="attributeModifier"></rolls>

    <!-- =============  race header   =============-->
    <div class="newHeader" id="raceHeader">
        <h4 class="newHeaderTxt">RACE</h4>
    </div>
    <!-- race section -->

    <race ng-show="raceShower" races="races" classes="classes" display-class="displayClass()" chosen-class="chosenClass" class-features="classFeatures" class-object="classObject" attributes="attributes" race-shower="raceShower" class-shower="classShower" roll-shower="rollShower"></race>


    <!-- =============  class header   =============-->
    <div class="newHeader" id="classHeader">
        <h4 class="newHeaderTxt">CLASS</h4>
    </div>
    <!-- class section -->

    <class ng-show="classShower" classes="classes" race-choice="raceChoice()" abilities-shower="abilitiesShower" race-shower="raceShower" class-shower="classShower" spells-tab="spellsTab" set-remaining-feats="setRemainingFeats()"></class>

    <!-- =============  abilities header   =============-->
    <div class="newHeader" id="abilitiesHeader">
        <h4 class="newHeaderTxt">ABILITIES</h4>
    </div>
    <!-- abilities section -->

      <abilities ng-show="abilitiesShower" feats="feats" races="races" abilities-shower="abilitiesShower" spells-shower="spellsShower" chosen-race-traits="chosenRaceTraits" feat-toggler="featToggler" skills="skills" skills-shower="skillsShower" set-remaining-skills="setRemainingSkills()" remaining-feats="remainingFeats" class-shower="classShower" abilities-shower="abilitiesShower" chosen-feats="chosenFeats"></abilities>

      <!-- =============  skills header   =============-->
      <div class="newHeader" id="skillsHeader">
          <h4 class="newHeaderTxt">SKILLS</h4>
      </div>
      <!-- skills section -->

        <skills ng-show="skillsShower" attributes="attributes" skills="skills" attribute-modifier="attributeModifier" class-has-spells-checker="classHasSpellsChecker()" classes="classes" remaining-skills="remainingSkills" skills-shower="skillsShower" chosen-feats="chosenFeats" abilities-shower="abilitiesShower"></skills>


    <!-- =============  spells header   =============-->
    <div class="newHeader" id="spellsHeader" ng-show="spellsTab">
        <h4 class="newHeaderTxt">SPELLS</h4>
    </div>
    <!-- spells section -->

      <spells ng-show="spellsShower"></spells>


    <!-- =============  customization header   =============-->
    <div class="newHeader" id="customizationHeader">
        <h4 class="newHeaderTxt">CUSTOMIZATION</h4>
    </div>
    <!-- customization section -->
    <customization ng-show="customizationShower" classes="classes" attribute-modifier='attributeModifier' customization-shower="customizationShower" class-has-spells-checker="classHasSpellsChecker()"></customization>

</div>
