<div class="scrollBkgrd">
    <!--=============  first header   =============-->
    <div class="newHeader" id="firstHeader" ng-click="rollShower = !rollShower">
        <h4 class="newHeaderTxt">ROLLS</h4>
    </div>
    <!-- first section -->
    
      <rolls ng-show="rollShower"></rolls>
    
    <!-- =============  race header   =============-->
    <div class="newHeader" id="raceHeader" ng-click="raceShower = !raceShower">
        <h4 class="newHeaderTxt">RACE</h4>
    </div>
    <!-- race section -->
    
    <race ng-show="raceShower"></race>
    
    
    <!-- =============  class header   =============-->
    <div class="newHeader" id="classHeader" ng-click="classShower = !classShower">
        <h4 class="newHeaderTxt">CLASS</h4>
    </div>
    <!-- class section -->
    
    <class ng-show="classShower"></class>
    
    <!-- =============  abilities header   =============-->
    <div class="newHeader" id="abilitiesHeader" ng-click="abilitiesShower = !abilitiesShower">
        <h4 class="newHeaderTxt">ABILITIES</h4>
    </div>
    <!-- abilities section -->
    
      <abilities ng-show="abilitiesShower"></abilities>

    <!-- =============  spells header   =============-->
    <div class="newHeader" id="spellsHeader" ng-click="spellsShower = !spellsShower">
        <h4 class="newHeaderTxt">SPELLS</h4>
    </div>
    <!-- spells section -->
    
      <spells ng-show="spellsShower"></spells>
    

    <!-- =============  customization header   =============-->
    <div class="newHeader" id="customizationHeader" ng-click="customizationShower = !customizationShower">
        <h4 class="newHeaderTxt">CUSTOMIZATION</h4>
    </div>
    <!-- customization section -->
    <customization ng-show="customizationShower"></customization>
    
</div>